{% extends "base.html" %}

{% block content %}
<div class="container px-4 my-3">
    <div class="row">
        <div class="col">
            <h2>P&C Modeling & Pricing Platform</h2>
        </div>
    </div>
</div>
<div class="container overflow-hidden">
    <div class="row gy-5">
        <div class="col-3">
            <div class="card" style="height: 16rem;">
                <div class="card-body">
                    <a href="/dashapp"><h5 class="card-title">Stop Loss</h5></a>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="height: 16rem;">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Short Tail XL</h5></a>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="height: 16rem;">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Long Tail XL</h5></a>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="height: 16rem;">
                <div class="card-body">
                    <a href="#"><h5 class="card-title">Proportional</h5></a>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}